<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.droidlogic.android.tv.connecteddevices"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:label="GoogleTVConnectedDevices"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <service
            android:name=".DefaultBluetoothDeviceService"
            android:exported="true" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.google.android.tv.btservices.settings.ConnectedDevicesSettingsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.Settings.SidePanel">
            <intent-filter>
                <action android:name="com.android.tv.settings.CONNECTED_DEVICES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.google.android.tv.btservices.settings.ConnectedDevicesSliceProvider"
            android:authorities="com.google.android.tv.btservices.settings.sliceprovider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.app.slice.category.SLICE" />
            </intent-filter>
        </provider>

        <receiver
            android:name="com.google.android.tv.btservices.settings.SliceBroadcastReceiver"
            android:exported="false" />

        <activity
            android:name="com.google.android.tv.btservices.settings.ResponseActivity"
            android:exported="true" />


    </application>
</manifest>
