on early-init
    start current_service

service current_service /vendor/bin/current_service
    console
    class late_start
    user system
    group root
    oneshot
    #disabled

service lowpower_disbale /system/bin/sh /system/bin/lowpower_disbale.sh
    class main
    console
    disabled
    oneshot
    seclabel u:r:shell:s0

on property:sys.boot_completed=1 && property:ro.boot.cc.status=0.5a@5v && property:ro.boot.cc_enable=1
    start lowpower_disbale
    write /sys/class/devfreq/fd000000.valhall/governor powersave
